*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Montserrat", sans-serif;
}


.navbar .logo img{
    width: 60px;
}

.navbar .logo a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: crimson;
    font-weight: 500;
    font-size: 25px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    background: rgba(255, 255, 255, 0.4);
    /* background: rgba(255,255,255,0.1); */
    box-shadow: 0 1px 0 0 rgba(0,0,0,0.1);
    /* padding-inline: 40px; */
    padding-left: 40px;
    transition: all 0.3s ease;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.navbar .nav-menu .navlink {
    color: crimson;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
}

.navbar .nav-menu .item {
    display: flex;
    align-items: center;
    position: relative;
    padding-inline: 20px;
}
.navbar .nav-menu {
    display: flex;
    height: 100%;
}

.navbar .nav-menu .dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    background: black;
    display: flex;
    width: calc(100% + 20px);
    flex-direction: column;
    display: none;
    transition: all 0.3s ease;
}
.navbar .nav-menu .dropdown .dropdown-link {
    padding: 5px;
    color: white;
    font-size: 14px;
    text-transform: capitalize;
    transition: all 0.3s ease;
    cursor: pointer;
}
.navbar .nav-menu .dropdown .dropdown-link:hover {
    background: crimson;
    padding-left: 10px;
    
}
.nav-menu .item:hover .dropdown {
    display: flex;
    flex-direction: column;
}
#home{
  background: url(https://nesmacontractings.com/images/bg.jpg);
  height: 100vh;
    background-size: cover;
   
}
#home .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
.container .content .text1{
    font-size: 25px;
    text-align: center;
    margin-bottom: 15px;
    font-weight: 500;
}
.container .content .text2{
    font-size: 40px;
    margin-bottom: 30px;
    font-weight: 600;
    
}

.container .content span{
    color: crimson;
}
.container .content a{
    /* border: 1px solid crimson; */
    border-radius: 30px;
    padding: 15px 30px;
   /* margin-left: 190px; */
   background: crimson;
   font-size: 20px;
    color: white;
    transition: all 0.6s ease;
}
.content{
    text-align: center;
    display: inline-block;
}
.container .content a:hover{
    background: white;
    color: black;
}
.namco{
    display: flex;
    flex-wrap: wrap;
}
.al{
    width: 50%;
    text-align: justify;
    padding: 30px;

}
.ak{
    width: 50%;
}
.ak img{
    width: 100%;
    height: 100%;
}
.al .text3{
    margin-bottom: 50px;
    font-size: 16px;
    color: #000000cb;
}
.al .text4{
    margin-bottom: 50px;
    font-size: 16px;
    color: #000000cb;
}
.al h2{
    margin-bottom: 30px;
    color: crimson;
    margin-top: 50px;
    font-size: 30px;
    font-weight: 500;
}
.al span{
    background: crimson;
    padding: 15px;
    color: white;
    cursor: pointer;
    transition: all 0.6s ease;
    border-radius: 5px;
}
.al span:hover{
    background: black;
    color: white;
}
.namco1{
    display: flex;
    text-align: justify;
    flex-wrap: wrap;
   
}
.aj{
    width: 50%;
    padding: 30px;
    background: #ccc;
    color: #000000cb;
}
.ah{
    width: 50%;
    padding: 30px;
    background: rgb(184, 182, 182);
    color: #000000cb;
}
.aj .text5{
    margin-bottom: 40px;

}
.ah .text5{
    margin-bottom: 40px;

}
.aj h2{
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 500;
    text-decoration: underline crimson;
}
.ah h2{
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 500;
    text-decoration: underline crimson;
}

#client .container{
   background: url('https://nesmacontractings.com/images/service.webp')
   rgba(0,0,0,0.6);
   max-height: 100vh;
   background-blend-mode: multiply;
   background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px;
    text-align: justify;
    
 
}
#client .container .service{
color: white;
width: 100%;
max-width: 520px;
color: white;
line-height: 25px;
padding-inline: 20px;

}
#client .container .service .text7{
    margin-bottom: 40px;
    font-size: 20px;
    
}
.text8{
    font-size: 20px;
}
.service h1{
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: 500;
}
.service{
    width: 100%;
}
.habibi{
    background: white;
    padding: 35px;
   
   
}
.mind .images {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px 40px;
    text-align: justify;
}
.mind img{
    max-width: 200px;
    max-height: 200px;
    transition: all 0.6s ease;
    cursor: pointer;
}
.mind img:hover{
    scale: 1.15;
}
.habibi h1{
    text-align: center;
    padding-top: 30px;
    font-size: 30px;
    font-weight: 500;
    text-decoration: underline crimson;
}
.work{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    flex-wrap: wrap;
    row-gap: 40px;
    
}
#last{
    background: #222;
    color: #7B8887;
    padding: 50px;
    flex-wrap: wrap !important;
}
 #last a{
    color: #94A3A3;
    display: inline-block;
    margin: 5px 0;
    font-size: 14px;
    transition: all 0.6s ease;
  

 }
 #last h1{
    margin-bottom: 20px;
    font-size: 15px;
    
 }
 #last span {
    display: flex;
    column-gap: 10px;
   padding: 5px 0;
 }
#last a:hover{
    color: crimson;
    padding-left: 10px;
    scale: 1.15;
}
#last .work .con{
    width: 25%;
}
#last .work .out{
    width: 25%;
}
#last .work .steel{
    width: 25%;
}
#last .work .email{
    width: 25%;
}
footer{
    height: 50px;
    background: #121313;;
    color: #748188;
    align-items: center;
    display: flex;
   font-size: 15px;
   padding-left: 40px;
}
.menu-bar {
    width: 30px;
    height: 40px;
    position: relative;
    cursor: pointer;
    display: none;
}
@media screen and (max-width: 600px){
#home {
    height: 100vh;
    width: 100%;
}

}
@media  screen and (max-width: 800px) {
   .al{
    width: 100%;
   }
   .ak{
    width: 100%;
   }
   .aj{
    width: 100%;
   }
   .ah{
    width: 100%;
   }
   
    #last .work{
        width: 100%;
        flex-direction: column;
    }
    #last{
        padding:20px 0px 20px 30px;
       overflow:hidden;
    }
    .navbar{
        padding-left: 10px;
    }
    .navbar .nav-menu{
        display: none;
    }
    .navbar .logo img{
    
      padding-left: 0px;
    }
    .container .content .text2 {
        font-size: 27px;
    }
    .aj .text5,.text6{
        font-size: 20px;
    }
    .ah .text5,.text6{
        font-size: 20px;
    }
}
@media screen and (max-width: 320px) {
    #client .container .service{
        width: 100%;
        
        padding-inline: 0px;
        line-height: 20px;

    }
    #client .container .service h1{
        font-size: 25px;
    }
    #client .container .service .text7,.text8{
            font-size: 15px;
    }    
    #client .container{
        width: 100%;
        padding:15px;
       
    }
  
    
}